/*@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,700);*/

body{
	font-size: 16px;
	background: #FFF;
}

/***********Fuentes de iconos********************/
@font-face {
	font-family: 'icomoon';
	src:url('../fonts/icomoon.eot?-k3glgr');
	src:url('../fonts/icomoon.eot?#iefix-k3glgr') format('embedded-opentype'),
		url('../fonts/icomoon.woff?-k3glgr') format('woff'),
		url('../fonts/icomoon.ttf?-k3glgr') format('truetype'),
		url('../fonts/icomoon.svg?-k3glgr#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-buscar:before {
	content: "\f002";
}

.icon-th-large:before {
	content: "\f009";
}

.icon-th-list:before {
	content: "\f00b";
}

.icon-check:before {
	content: "\f00c";
}

.icon-close:before {
	content: "\f00d";
}

.icon-power-off:before {
	content: "\f011";
}

.icon-confi:before {
	content: "\f013";
}

.icon-borrar:before {
	content: "\f014";
}

.icon-inicio:before {
	content: "\f015";
}

.icon-align-justify:before {
	content: "\f039";
}

.icon-edit:before {
	content: "\f044";
}

.icon-trash:before {
	content: "\f1f8";
}

.icon-arroba:before {
	content: "\f1fa";
}

.icon-usuario:before {
	content: "\e601";
}

.icon-grupo:before {
	content: "\e602";
}

.icon-assignment-ind:before {
	content: "\e603";
}

.icon-perm-media:before {
	content: "\e604";
}

.icon-email:before {
	content: "\e605";
}

.icon-telefono:before {
	content: "\e606";
}

.icon-add-circle-outline:before {
	content: "\e607";
}

.icon-create:before {
	content: "\e608";
}

.icon-cloud-download:before {
	content: "\e609";
}

.icon-keyboard:before {
	content: "\e60a";
}

.icon-flow-tree:before {
	content: "\e60b";
}

.icon-add-user:before {
	content: "\e60c";
}

.icon-feather:before {
	content: "\e60d";
}

.icon-mail:before {
	content: "\e60e";
}

.icon-man:before {
	content: "\e60f";
}

.icon-new-message:before {
	content: "\e610";
}

.icon-old-phone:before {
	content: "\e611";
}

.icon-facebook-with-circle:before {
	content: "\e612";
}

.icon-github:before {
	content: "\e613";
}

.icon-google-with-circle:before {
	content: "\e614";
}

.icon-instagram-with-circle:before {
	content: "\e615";
}

.icon-linkedin-with-circle:before {
	content: "\e616";
}

.icon-pinterest-with-circle:before {
	content: "\e617";
}

.icon-tumblr-with-circle:before {
	content: "\e618";
}

.icon-twitter-with-circle:before {
	content: "\e619";
}

.icon-vimeo-with-circle:before {
	content: "\e61a";
}

.icon-file-pdf:before {
	content: "\f016";
}

.icon-rocket:before {
	content: "\f033";
}

.icon-telescope:before {
	content: "\f088";
}

.icon-estrella:before {
	content: "\e600";
}

.icon-music:before {
	content: "\e61b";
}

.icon-bug:before {
	content: "\e61c";
}

.icon-monitor:before {
	content: "\e61d";
}

.icon-floppy:before {
	content: "\e61e";
}

.icon-home3:before {
	content: "\e902";
}

.icon-lapiz:before {
	content: "\e908";
}

.icon-envelop:before {
	content: "\e945";
}

.icon-pushpin:before {
	content: "\e946";
}

.icon-lock:before {
	content: "\e98f";
}

.icon-unlocked:before {
	content: "\e990";
}

.icon-cog2:before {
	content: "\e994";
}

.icon-switch:before {
	content: "\e9b6";
}

.icon-earth:before {
	content: "\e9ca";
}

.icon-attachment:before {
	content: "\e9cd";
}

.icon-enter:before {
	content: "\ea13";
}

.icon-exit:before {
	content: "\ea14";
}

.icon-f-arriba:before {
	content: "\ea41";
}

.icon-f-abajo:before {
	content: "\ea43";
}

.icon-google-plus3:before {
	content: "\ea8a";
}

.icon-facebook3:before {
	content: "\ea8e";
}

.icon-twitter3:before {
	content: "\ea93";
}

.icon-youtube3:before {
	content: "\ea99";
}

.icon-flickr4:before {
	content: "\eaa3";
}

.icon-github2:before {
	content: "\eab1";
}

.icon-blogger2:before {
	content: "\eaba";
}

.icon-tumblr2:before {
	content: "\eabc";
}

.icon-tux:before {
	content: "\eabe";
}

.icon-apple:before {
	content: "\eabf";
}

.icon-finder:before {
	content: "\eac0";
}

.icon-android:before {
	content: "\eac1";
}

.icon-windows:before {
	content: "\eac2";
}

.icon-windows8:before {
	content: "\eac3";
}

.icon-skype:before {
	content: "\eac6";
}

.icon-reddit:before {
	content: "\eac7";
}

.icon-linkedin:before {
	content: "\eac8";
}

.icon-pinterest:before {
	content: "\ead0";
}

.icon-foursquare:before {
	content: "\ead5";
}

.icon-file-pdf2:before {
	content: "\eada";
}

.icon-file-openoffice:before {
	content: "\eadb";
}

.icon-file-word:before {
	content: "\eadc";
}

.icon-file-excel:before {
	content: "\eadd";
}

.icon-libreoffice:before {
	content: "\eade";
}

.icon-html5:before {
	content: "\eadf";
}

.icon-html52:before {
	content: "\eae0";
}

.icon-css3:before {
	content: "\eae1";
}

.icon-chrome:before {
	content: "\eae5";
}

.icon-firefox:before {
	content: "\eae6";
}

.icon-IE:before {
	content: "\eae7";
}

.icon-opera:before {
	content: "\eae8";
}

.icon-safari:before {
	content: "\eae9";
}

.icon-calendar:before {
	content: "\e61f";
}

.icon-calendar2:before {
	content: "\e620";
}

.icon-camera:before {
	content: "\e621";
}

.icon-suitcase:before {
	content: "\e622";
}

.icon-suitcase2:before {
	content: "\e623";
}

.icon-picture:before {
	content: "\e624";
}

.icon-pictures:before {
	content: "\e625";
}

.icon-pictures2:before {
	content: "\e626";
}

.icon-alarmclock:before {
	content: "\e627";
}

.icon-chart:before {
	content: "\e628";
}

.icon-chart2:before {
	content: "\e629";
}

.icon-graduate:before {
	content: "\e62a";
	margin-right: 0.2em;
}

.icon-lab:before {
	content: "\e62b";
}

.icon-football:before {
	content: "\e62c";
}

.icon-baseball:before {
	content: "\e62d";
}

.icon-fut:before {
	content: "\e62e";
}

.icon-attachment2:before {
	content: "\e62f";
}

.icon-addressbook:before {
	content: "\e630";
}

.icon-pictures3:before {
	content: "\e631";
}

.icon-clipboard:before {
	content: "\e632";
}

.icon-clipboard2:before {
	content: "\e633";
}

.icon-switch2:before {
	content: "\e634";
}

.icon-heart:before {
	content: "\e635";
}

.icon-cloud:before {
	content: "\e636";
}

.icon-star:before {
	content: "\e637";
}

.icon-tv:before {
	content: "\e638";
}

.icon-video:before {
	content: "\e639";
}

.icon-user2:before {
	content: "\e63a";
}

.icon-key:before {
	content: "\e63b";
}

.icon-search2:before {
	content: "\e63c";
}

.icon-settings:before {
	content: "\e63d";
}

.icon-camera2:before {
	content: "\e63e";
}

.icon-pen:before {
	content: "\e63f";
}

.icon-like:before {
	content: "\e640";
}

.icon-paperplane:before {
	content: "\e641";
}

.icon-banknote:before {
	content: "\e642";
}

.icon-megaphone:before {
	content: "\e643";
}

.icon-study:before {
	content: "\e644";
}

.icon-lab2:before {
	content: "\e645";
}

.icon-t-shirt:before {
	content: "\e646";
}

.icon-clip:before {
	content: "\e647";
}


/*********Header********************************/
.header-principal{
	width: 100%;
	height: 5%;
	position: relative;
}
.header-iconoUniversidad{
	display: inline-block;
	margin-left: 5%;
	height: 1%;
	position: relative;
}
.header-logo{
	width: 100%;
	height: 100%;
	position: relative;
	display: inline-block;
}
.header-logoImagen{
	width: 300px;
	height: 100px;
	border-radius: 6px;
}
.header-logoUniversidad{
	display: inline-block;
	padding-left: 2em;
}
.header-logoUni{
	width: 100px;
	height: 100px;
}
.header-description{
	width: 40%;
	float: right;
	margin-right: 5%;
	display: inline-block;
}
.header-descriptionTexto{
	color: #AEADB3;
	text-transform: uppercase;
	text-align: right;
	font-size: .8em;
}
.header-descriptionTexto:before{
	content: 'Subsecretaría de Educación Superior';
	margin-bottom: .1em;
	display: block;
}
.header-descriptionTexto:after{
	margin-top: .4em;
	content: 'Instituto Tecnológico de la Zona Olmeca';
}
/***************Nav y sub-menus*****************/
.menuItem-responsivo{
	display: none;
}
.header-menu{
	width: 90%;
	position: relative;
	background: #fafafa;
	text-align: center;
	margin-right: 5%;
	margin-left: 5%;
	margin-top: .6em;
	border:1px solid #d4d4d4;
	border-radius: 12px;
	text-transform: uppercase;
}
.header-menuItem{
	margin: 0;
	padding: 0;
}
.menuItem-header{
	display: inline-block;
}
.icono-menuItem{
	color:#666;
	padding: .5em 1em .5em 1em;
	display: block;
	text-decoration: none;
	font-size: 16px;
	-webkit-transition: .4s;
}
.icono-menuItem:hover{
	color: #652;
	-webkit-transition: .4s;
}
#idInicioIco{
	position: relative;
}
#inicioIco,
#Itembuzon{
	font-size: 1.5em;
	padding-bottom: .2em;
	padding-top: .2em;
	position: relative;
	top: 4px;
}
.menuOcultoNI{
	width: 70%;
	position: relative;
	background: white;
	margin-left: 15%;
	margin-right: 15%;
	margin-top: .3em;
	border: 2px solid #666;
	border-radius: 0px 24px 0px 24px;
	display: none;
}
.menuOcultoNI-lista{
	position: relative;
	text-transform: uppercase;
	margin:0;
	padding: 0;
	text-align: center;
}
.lista-item{
	background: #fafafa;
	display: inline-block;
	font-size: .6em;
	border: 1px solid #d4d4d4;
	border-radius: 12px;
	margin: .2em;
	-webkit-transition: .4s;
}
.lista-item:hover{
	background: #EEEEEE;
	-webkit-transition: .4s;
}
.submenuItem{
	text-decoration: none;
	color:#666;
	display: block;
	padding: 1em;
}
.submenuItem:hover{
	color: white;
}

.menuOculto2{
	width: 70%;
	position: relative;
	background: white;
	margin-left: 15%;
	margin-right: 15%;
	margin-top: .3em;
	border: 2px solid #666;
	border-radius: 0px 24px 0px 24px;
	display: none;
}
.menuOculto2 .menuOcultoNI-lista li{
	background: #fafafa;
	display: inline-block;
	font-size: .6em;
	border: 1px solid #d4d4d4;
	border-radius: 12px;
	margin: .2em;
	-webkit-transition: .4s;
}
.submenuItemOferta{
	text-decoration: none;
	color:#666;
	display: block;
	padding: 1em;
}
.menuOculto3{
	width: 70%;
	position: relative;
	background: white;
	margin-left: 15%;
	margin-right: 15%;
	margin-top: .3em;
	border: 2px solid #666;
	border-radius: 0px 24px 0px 24px;
	display: none;
}
.menuOculto3 .menuOcultoNI-lista li{
	background: #fafafa;
	display: inline-block;
	font-size: .6em;
	border: 1px solid #d4d4d4;
	border-radius: 12px;
	margin: .2em;
	-webkit-transition: .4s;
}
.submenuItemServicios{
	text-decoration: none;
	color:#666;
	display: block;
	padding: 1em;
}
/**********************Carrusel*******************************************/
.header-carrusel{
	margin-right: 10%;
	margin-left: 10%;
	margin-top: 1em;
	position: relative;
	text-align: center;
}
.carrusel-img{
	max-width: 80%;
}
/**************Contenido(Section)*****************/
.contenido{
	width: 90%;
	margin: 1% 5% 0% 5%;
	overflow: hidden;
}
.articulos-div{
	top: 0px;
	display: inline-block;
	width: 68%;
}
.contenido-articulo{
	width: 100%;
	margin-bottom: 2em;
	overflow: hidden;
	padding-bottom: 1em;
	border-top: 1px solid #CCC;
	border-left: 1px solid #CCC;
	border-right: 1px solid #CCC;
	border-bottom: 2px solid #CCC;
	border-width: 7%;
}
.img-articuloPrincipal{
	width: 100%;
	height: 200px;
	border: 1px solid #FFF;
	box-shadow: rgba(0,0,0,0.5) 2px 2px 5px;
}
.imgContenido-articulo{
	float: left;
	width: 30%;
	height: 100%;
	margin-right: 1.4em;
}
.titulo-articuloPre{
	color: #343B54;
	text-transform: uppercase;
	font-size: 1.6em;
}
.articulo-description{
	text-align: justify;
	padding-right: 1em;
}
.leerArticulo{
	background: #343B54;
	display: inline-block;
	right: 0px;
	margin-top: 0px;
	color: #fff;
	padding: .4em;
	border: 1px solid #FFF;
	box-shadow: #343B54 2px 2px 5px;
}
.menu-div{
	display: inline-block;
	width: 29%;
	position: relative;
	float: right;
}
.menu-divLista{
	padding-left: 0em;
	list-style: none;
}
.divlista-titulo{
	font-size: 1.4em;
	text-transform: uppercase;
	color: #343B54;
	text-align: center;
	margin-bottom: 1em;
	right: 0px;
}
.divLista-avi{
	margin-bottom: 1em;
}
.divLista-aviDiv{
	background: #343B54;
	color: white;
	width: 100%;
	height: 30px;
	border: 1px solid #FFF;
	box-shadow: rgba(0,0,0,0.5) 2px 2px 5px;
}
.divlista-titulo:after{
	content: "==== "
}
.divlista-titulo:before{
	content: " ===="
}
.divLista-sitios{
	margin-bottom: 1em;
}
.img-sitios{
	border: 1px solid #FFF;
	box-shadow: rgba(0,0,0,0.5) 2px 2px 5px;
}
/****************Pie de pagina********************/
.pieDePagina{
	margin-top: 1em;
	width: 100%;
	background: rgba(174,173,179,.05);
	height: 150px;
	color: #98979C;
	border-top: 1px solid #CCC;
}
/*******************************Media query ************************/
@media screen and (max-width: 1120px){
	.header-description{
		width: 30%;
		font-size: .7em;
	}
}
@media screen and (max-width: 1000px){
	.header-description{
		width: 20%;
		font-size: .7em;
	}
	.icono-menuItem{
		padding: 1em;
		font-size: .8em;
	}
	.header-menu{
		text-align: center;
		width: 98%;
		margin-right: 1%;
		margin-left: 1%;
	}
	.header-carrusel{
		margin-left: 5%;
		margin-right: 5%;
	}
	.carrusel-img{
		width: 90%;
	}
}
@media screen and (max-width: 770px){
	.header-description{
		display: none;
	}
	.icono-menuItem{
		padding: .7em;
		font-size: .8em;
	}
	.header-menu{
		font-size: 1em;
		text-align: center;
		width: 100%;
		position: relative;
		border-radius: 0px;
		border-left: 0px;
		border-right: 0px;
		margin-left: 0;
	}
	.header-carrusel{
		margin-left: 0;
		margin-right: 0;
	}
	.carrusel-img{
		width: 99%;
	}
}
@media screen and (max-width: 600px){
	.header-logoUniversidad{
		display: none;
	}
	.header-menuItem{
		display: none;
	}
	.header-menu{
		position: relative;
		text-align: center;
		width: 100%;
		height: 10%;
		margin-left: 0;
		border-left: 0px;
		border-right: 0px;
		border-radius: 0px;
	}
	.menuItem-responsivo{
		display:block;
		position: relative;
		font-size: 2em;
	}
	.header-carrusel{
		margin-left: 0;
		margin-right: 0;
	}
	.carrusel-img{
		max-width: 100%;
	}
}